:root {
  --navbar-color: #1c2d37;
  --link-color: #b4dbdc;
  --link-complement: #dcbeb4;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  width: 330px;
  padding: 4px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: var(--navbar-color);
  border-bottom: 2px solid var(--link-complement);
}

h3 {
  margin: 7px;
  color: var(--navbar-color);
}

ul {
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;
}

p, ul {
  font-size: 15px;
}

.projects-content {
  margin: 20px 10% 20px 10%;
}

.project {
  margin-bottom: 40px;
}

.expense-imgs > img {
  margin-top: 35px;
  width: 400px;
}

.code-button {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--navbar-color);
  background-color: white;
  color: var(--navbar-color);
  margin: 10px;
  margin-left: 35px;
  font-weight: 600;
}

.code-button {
  border: 2px solid var(--link-complement);
  background-color: var(--link-complement);
  color: white;
}

.code-button:hover {
  cursor: pointer;
  color: var(--link-complement);
  background-color: white;
}

/* .code-button:hover {
  cursor: pointer;
  border-color: var(--link-complement);
  color: var(--link-complement);
} */

#expense {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  #expense {
    flex-direction: column;
  }

  .expense-imgs > img {
    width: 350px;
  }
}
